.navbar-brand{
    justify-content: center;
    font-family: 'Borel', cursive;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: gold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    &:hover{
        color: goldenrod;
    }
}
body{
    min-height: 2000px;
}
textarea{
    outline: none;
}
body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}