%pic{
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
}
.carousel-item{
    position: relative;
    background: black;
    height: 32rem
}

.carousel-item--bg1{
    @extend %pic;
    background-image: url(/src/images/pic1.jpg);
}
.carousel-item--bg2{
    @extend %pic;
    background-image: url(/src/images/pic2.jpg);
}
.carousel-item--bg3{
    @extend %pic;
    background-image: url(/src/images/pic3.jpg);
}
.carousel-item--bg4{
    @extend %pic;
    background-image: url(/src/images/pic6.jpg);
}

.nav__form__name-icon {
    text-decoration: none;
    color: whitesmoke;
    display: flex;
}
i{
    margin-right: 5px;
}
.nav__form__right:hover{
    transform: scale(1.1);
}
.navbar-brand{
    max-height: 45px;
    font-family: 'Borel', cursive;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: gold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    &:hover{
        color: goldenrod;
    }
}
.logo{
    margin: 0;
}
.container-fluid{
    margin: 0 auto;
}
.navbar{
    padding: 0 10px;
}
.card--price{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
}
.card-img-top{
    height: 240px;
}
.card{
    min-height: 29rem;
}
.card-body{
    padding-bottom: 0 !important;
}
.fifty{
    font-size: 60px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Anton', sans-serif;
    font-style: oblique;
}
.off{
    color: red
}
.cards-wrapper{
    display: flex;
}
.card{
    margin: 0.5em;
    width: calc(100%/3);
}
.image-wrapper{
    height: 50%;
}
.image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}
.card-body a {
    padding-top: 10px;
}
.bg-nav-custom{
    background-color: rgb(187, 33, 33);
}
.card-title{
    margin-top: 20px;
}
body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.carousel_xs{
    max-height: 260px;
}
